/* =============================================================================
 *
 * Waybar styles
 *
 * Styles reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    font-family: Hack Nerd Font, sans-serif;
    font-size: 10px;
    background-color: rgba(22, 22, 22, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-right .module {
    padding-right: 7px;
    padding-left: 7px;
    border-left: 1px dashed #777777;
}

*.warning {
    color: orange;
}

*.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    color: #ffffff;
    background-color: #900000;
    margin-left: 0;
    padding: 0 16px;
}

#window {
    margin-left: 32px;
    margin-right: 32px;
}

#workspaces button {
    border-top: 3px solid transparent;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    color: #888888;
}

#workspaces button:hover {
    background: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.visible {
    border-color: #333333;
    color: #ffffff;
    background-color: #5f676a;
}

#workspaces button.focused {
    border-color: #4c7899;
    color: #ffffff;
    background-color: rgba(22, 22, 22, 0.35);
}

#workspaces button.urgent {
    border-color: #2f343a;
    color: #ffffff;
    background-color: #900000;
}
