/* =============================================================================
 *
 * Waybar styles
 *
 * Styles reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    font-family: Hack Nerd Font, sans-serif;
    font-size: 10px;
    background-color: rgba(22, 22, 22, 0.8);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

/* Each module */
#backlight,
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#idle_inhibitor,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding-right: 5px;
    padding-left: 5px;
    border-left: 1px dashed #444444;
}

#idle_inhibitor{
    padding-right: 9px;
}

#backlight {
    /* No styles */
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

/*#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}*/

#clock {
    /* No styles */
}

#clock.time {
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#custom-keyboard-layout {
    margin-left: 22px;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    color: #ffffff; /* Sway palette: urgent/text */
    background-color: #900000; /* Sway palette: urgent/background */
    margin-left: 0;
    /* To compensate for the top border and still have vertical centering */
    padding: 0 16px;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: red;
}

#tray {
    /* No styles */
}

#window {
    margin-left: 32px;
    margin-right: 32px;
}

#workspaces button {
    border-top: 2px solid transparent;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    color: #888888;
}

#workspaces button:hover {
    background: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.visible {
    border-color: #333333;
    color: #ffffff;
    background-color: #5f676a;
}

#workspaces button.focused {
    border-color: #4c7899;
    color: #ffffff;
    background-color: #333333;
}

#workspaces button.urgent {
    border-color: #2f343a;
    color: #ffffff;
    background-color: #900000;
}
